<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <title>WebNovel Store</title>
    <link rel="stylesheet" href="style.css">
</head>

<body>

<nav>
    <div class="logo">
        <img src="../assets/logo.png">
        <a href="#">WebReader</a>
    </div>
    <div class="nav-links">
        <a class="selected" href="index.html">Home</a>
        <a href="collection.html">Collection</a>
        <a href="history.html">History</a>
        <a href="about.html">About</a>
        <a href="signIn.html">Sign In</a>
    </div>
</nav>




<footer>
    <div class="socials">
        <i class='bx bxl-facebook-square'></i>
        <i class='bx bxl-instagram' ></i>
        <i class='bx bxl-twitter' ></i>
        <i class='bx bxl-youtube' ></i>
    </div>
    <p>Copyright ⓒ2024, All rights reserved.</p>
</footer>

<script src="script.js"></script>
</body>
</html>