<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <title>WebNovel Store</title>
    <link rel="stylesheet" href="style.css">
</head>

<body>

<nav>
    <div class="logo">
        <img src="../assets/logo.png">
        <a href="#">WebReader</a>
    </div>
    <div class="nav-links">
        <a class="selected" href="index.html">Home</a>
        <a href="collection.html">Collection</a>
        <a href="history.html">History</a>
        <a href="about.html">About</a>
        <a href="signIn.html">Sign In</a>
    </div>
</nav>

<div class="collections">
    <div class="collection-item">
        <img src="../assets/ranker.png">
        <div class="collection-info">
            <h3>Second life Ranker</h3>
            <br>
            <p>9.18$</p>    
            <br>
            <a href="#">Add to cart</a>
        </div>
    </div>
    <div class="collection-item">
        <img src="../assets/tbate.png">
        <div class="collection-info">
            <h3>The Beginning After The End</h3>
            <br>
            <p>9.18$</p>    
            <br>
            <a href="#">Add to cart</a>
        </div>
    </div><div class="collection-item">
        <img src="../assets/reverend.jpg">
        <div class="collection-info">
            <h3>Second life Ranker</h3>
            <br>
            <p>9.18$</p>    
            <br>
            <a href="#">Add to cart</a>
        </div>
    </div><div class="collection-item">
        <img src="../assets/orv.jpg">
        <div class="collection-info">
            <h3>Omnicient Readers Viewpoint</h3>
            <br>
            <p>9.18$</p>    
            <br>
            <a href="#">Add to cart</a>
        </div>
    </div><div class="collection-item">
        <img src="../assets/shadow.png">
        <div class="collection-info">
            <h3>Shadow Slave</h3>
            <br>
            <p>9.18$</p>    
            <br>
            <a href="#">Add to cart</a>
        </div>
    </div><div class="collection-item">
        <img src="../assets/WorldAfterEnd.jpg">
        <div class="collection-info">
            <h3>The World After The End</h3>
            <br>
            <p>9.18$</p>    
            <br>
            <a href="#">Add to cart</a>
        </div>
    </div><div class="collection-item">
        <img src="../assets/solo.png">
        <div class="collection-info">
            <h3>Solo Leveling</h3>
            <br>
            <p>9.18$</p>    
            <br>
            <a href="#">Add to cart</a>
        </div>
    </div><div class="collection-item">
        <img src="../assets/lom.png">
        <div class="collection-info">
            <h3>Lord Of Mysteries</h3>
            <br>
            <p>9.18$</p>    
            <br>
            <a href="#">Add to cart</a>
        </div>
    </div><div class="collection-item">
        <img src="../assets/magus.png">
        <div class="collection-info">
            <h3>Supreme Magus</h3>
            <br>
            <p>9.18$</p>    
            <br>
            <a href="#">Add to cart</a>
        </div>
    </div><div class="collection-item">
        <img src="../assets/author.png">
        <div class="collection-info">
            <h3>The Author's POV</h3>
            <br>
            <p>9.18$</p>    
            <br>
            <a href="#">Add to cart</a>
        </div>
    </div><div class="collection-item">
        <img src="../assets/tutorial.png">
        <div class="collection-info">
            <h3>The Tutorial Is Too Hard</h3>
            <br>
            <p>9.18$</p>    
            <br>
            <a href="#">Add to cart</a>
        </div>
    </div><div class="collection-item">
        <img src="../assets/mother.png">
        <div class="collection-info">
            <h3>Mother Of Learning</h3>
            <br>
            <p>9.18$</p>    
            <br>
            <a href="#">Add to cart</a>
        </div>
    </div>
        
</div>


<footer>
    <div class="socials">
        <i class='bx bxl-facebook-square' style='color:seashell'></i>
        <i class='bx bxl-instagram' style='color:seashell'></i>
        <i class='bx bxl-twitter' style='color:seashell'></i>
        <i class='bx bxl-youtube' style='color:seashell'></i>
    </div>
    <p>Copyright ⓒ2024, All rights reserved.</p>
</footer>

<script src="script.js"></script>
</body>
</html>