<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <title>WebNovel Store</title>
    <link rel="stylesheet" href="style.css">
</head>

<body>

<nav>
    <div class="logo">
        <img src="../assets/logo.png">
        <a href="#">WebReader</a>
    </div>
    <div class="nav-links">
        <a class="selected" href="index.html">Home</a>
        <a href="collection.html">Collection</a>
        <a href="history.html">History</a>
        <a href="about.html">About</a>
        <a href="signIn.html">Sign In</a>
    </div>
</nav>

<div class="main">
    <div class="info">
        <h1>Top seller of this month <br>Special Offer</h1>
        <p>aaaaaaaaaaaaaaaaaaaaaaa</p>
        <button>Buy Now</button>
    </div>
    <img src="../assets/WorldAfterEnd.jpg">
</div>

<div class="newArrival">
    <div class="header">
        <h4>New Arrival</h4>
        <a href="collection.html">View All</a>
    </div>
    <div class="arrival">
        <div class="arrival-item">
            <h3>Omnicient readers view point Vol.1</h3>
            <div class="info">
                <h5>Vol.1 out now!</h5>
                <h5>Vol.1 out now!</h5>
                <h5>Vol.1 out now!</h5>
            </div>
            <p>Kim Dokja is an office worker who read the novel "Three Ways to Survive in a Ruined World".
            The world of the novel suddenly becomes reality, and Dokja becomes the only person who knows how the world will end.
            He attempts to change the course of the story by solving and conquering challenges,
            known as scenarios in the series, each being operated by a dokkaebi.</p>
        </div>
    </div>
</div>

</body>
</html>