<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <title>WebNovel Store</title>
    <link rel="stylesheet" href="style.css">
</head>

<body>

<nav>
    <div class="logo">
        <img src="../assets/logo.png">
        <a href="#">Web Novel</a>
    </div>
    <div class="nav-links">
        <a class="selected" href="index.html">Home</a>
        <a href="collection.html">Collection</a>
        <a href="history.html">History</a>
        <a href="about.html">About</a>
        <a href="signIn.html">Sign In</a>
    </div>
</nav>

<div class="top">
<div class="main">
    <div class="info">
        <h1>Top seller of this month</h1>
        <h2 class="offer">Special Offer 20% off</h2> 
        <p>Jaehwan was a normal person who was buying chips at his local convenience store. Suddenly, weird towers appeared across the globe, summoning people within. Jaehwan accepted the summons, witnessed monsters decimate his homeworld, and prevailed against the 100 levels and their respective boss monsters. At the end, he realized the Tower was an illusion, and that humanity was never destroyed. Now he fights against the people who created the Towers, which are cultivation methods for the Gods and the Lords. As he fights them all, Jaehwan swears to destroy the system and the world that wronged him.

            His final enemy is Big Brother, the master of the System itself.</p>
        <button>Buy Now</button>
    </div>
    <img src="../assets/WorldAfterEnd.jpg">
</div>
</div>

<div class="newArrival">
    <div class="header">
        <h4>New Arrival</h4>
        <a href="collection.html">View Collection</a>
    </div>
    <div class="arrival">
        <div class="arrival-item">
            <div class="arrival-info">
            <h3>Omnicient readers view point Vol.1</h3>
            <div class="info">
                <h5>Vol.1 out now!</h5>
                <h5>Vol.1 out now!</h5>
                <h5>Vol.1 out now!</h5>
            </div>
            <p>Kim Dokja is an office worker who read the novel "Three Ways to Survive in a Ruined World". The world of the novel suddenly becomes reality, and Dokja becomes the only person who knows how the world will end. He attempts to change the course of the story by solving and conquering challenges, known as scenarios in the series, each being operated by a dokkaebi.</p>
            </div>
            <img src="../assets/orv.jpg">
        </div>
        <div class="arrival-item">
            <div class="arrival-info">
            <h3>Reverend insanity Vol.1</h3>
            <div class="info">
                <h5>Vol.1 out now!</h5>
                <h5>Vol.1 out now!</h5>
                <h5>Vol.1 out now!</h5>
            </div>
            <p>A story of a villain, Fang Yuan who was reborn 500 years into the past with the Spring Autumn Cicada he painstakingly refined. With his profound wisdom, battle and life experiences, he seeks to overcome his foes with skill and wit! Ruthless and amoral, he has no need to hold back as he pursues his ultimate goals. In a world of cruelty where one cultivates using Gu - magical creatures of the world - Fang Yuan must rise up above all with his own power</p>
            </div>
            <img src="../assets/reverend.jpg">
        </div>
    </div>
</div>



<div class="weekly-feature-header">
    <h2>Weekly Feature</h2>
    <a href="collection.html">View Collection</a>
</div>

<div class="slider">
    <img id="img-1" src="../assets/solo_banner.png"/>
    <img id="img-2" src="../assets/ranker_banner.png"/>
    <img id="img-3" src="../assets/tbate_banner.png"/>
</div>
<div class="navigation-button">
    <span class="dot active" onclick="changeSlide(0)"></span>
    <span class="dot" onclick="changeSlide(1)"></span>
    <span class="dot" onclick="changeSlide(2)"></span>
</div>

<div class="featured">
    <div class="item">
        <img src="../assets/solo.png">
        <div class="details">
            <h3>Solo Leveling</h3>
            <div class="novel-info">
                <div class="price-badge">10.99$</div>
            </div>
            <p>In a world where hunters, humans who possess magical abilities, must battle deadly monsters to protect the human race from certain annihilation, a notoriously weak hunter named Sung Jinwoo finds himself in a seemingly endless struggle for survival.</p>
            <div class="button-holder">
                <button>Buy Now</button>
            </div>
           
        </div>
    </div>
    <div class="item">
        <img src="../assets/ranker.png">
        <div class="details">
            <h3>Second Life Ranker</h3>
            <div class="novel-info">
                <div class="price-badge">10.99$</div>
            </div>
            <p>Yeon-woo's twin brother disappeared five years ago, only for his pocket watch to suddenly fall into Yeon-woo's hands. Inside, Yeon-woo found a hidden diary. "By the time you hear this, I guess I will already be dead..."

                Obelisk, the Tower of the Sun God, is a world where several universes and dimensions intersect. Yeon-woo's brother had died after being betrayed while he climbed the Tower, and after learning the truth, Yeon-woo decided to climb the tower with the help of his brother's diary.
                
                "From now on, I am Cha Jeong-woo."</p>
            <div class="button-holder">
                <button>Buy Now</button>    
            </div>
        </div>
    </div>
    <div class="item">
        <img src="../assets/tbate.png">
        <div class="details">
            <h3>The Beginning After The End</h3>
            <div class="novel-info">
                <div class="price-badge">12.99$</div>
            </div>
            <p>King Grey has unrivaled strength, wealth, and prestige in a world governed through martial ability. However, solitude lingers closely behind those with great power. Beneath the glamorous exterior of a powerful king lurks the shell of a man, devoid of purpose and will. Reincarnated into a new world filled with magic and monsters, the king has a second chance to relive his life. Correcting the mistakes of his past will not be his only challenge, however. Underneath the peace and prosperity of the new world is an undercurrent threatening to destroy everything he has worked for, questioning his role and reason for being born again.</p>
            <div class="button-holder">
                <button>Buy Now</button>
            </div>
        </div>
    </div>
</div>

<footer>
    <div class="socials">
        <i class='bx bxl-facebook-square' style='color:seashell'></i>
        <i class='bx bxl-instagram' style='color:seashell'></i>
        <i class='bx bxl-twitter' style='color:seashell'></i>
        <i class='bx bxl-youtube' style='color:seashell'></i>
    </div>
    <p>Copyright ⓒ2024, All rights reserved.</p>
</footer>

<script src="script.js"></script>
</body>
</html>